@use './mixins';
@use './variables';
@use './global';
@use './typography' as *;

.about {

    padding: 0 1rem;

    &__title {
        font-size: 1rem;
        margin: 1rem 0;
    }

    &__picture {
        background: url('../../assets/Images/band.jpg');
        background-size: contain;
        height: 15rem;

        @include mixins.tablet {
            background-repeat: no-repeat;
            background-size: cover;
            height: 32rem;
        }
    }

    &__body-text-container {
        @include mixins.tablet {
            display: flex;
        }
    }

    &__subheader {
        font-family: 'AvenirNext LT Pro';
        font-weight: 700;
    }

}