@use './mixins';
@use './variables';
@use './global';
@use './typography' as *;

.about {
    padding: 0 1rem;

    @include mixins.tablet {
        padding-bottom: 1rem;
    }

    /* About the Musicians */
    &__title {
        @include mixins.mobile-header-text;
        @include mixins.mobile-header-padding;
        margin: 0;

        @include mixins.tablet {
            @include mixins.section-header-text;
            @include mixins.header-padding;
            padding-left: 2rem;
        }
        @include mixins.desktop {
            padding-left: 6rem;
        }
    }

    /* Holds all elements under section title */
    &__container {
        @include mixins.tablet {
            display: flex;
            flex-direction: column;
            margin: 0 5rem;
        }
        @include mixins.desktop {
            margin: 0 11rem;
        }
    }

    &__picture {
        width: 100%;
        height: 14rem;

        @include mixins.tablet {
            height: 20rem;
        }
        @include mixins.desktop {
            height: 30rem;
        }
    }

    /* Quote beneath section picture */
    &__subheader {
        font-size: .875rem;
        line-height: 1.375rem;
        font-weight: 600;

        @include mixins.tablet {
            @include mixins.subheader-text;
            margin-top: 2rem;
        }
        @include mixins.desktop {
            width: 45rem;
        }
    }

    /* Attributing quote from Bryan Teddy */
    &__subheader-attribution {
        @include mixins.tablet {
            font-size: 1rem;
            line-height: 1.375rem;
            margin-top: -1rem;
        }
    }

    /* The Bees Knees body text */
    &__body-text-container {
        /* Puts body text side by side */
        @include mixins.tablet {
            display: flex;
        }
    }

    &__body-header {
        @include mixins.mobile-subheader-text;

        @include mixins.tablet {
            @include mixins.subheader-text;
            margin-bottom: 0;
        }
    }

    &__body-text {
        @include mixins.mobile-body-footer-text;

        @include mixins.tablet {
            @include mixins.body-text;
        }
    }

    /* Adds padding between side by side text */
    &__body-text-left {
        @include mixins.tablet {
            padding-right: 1rem;
        }
    }

}