@use './mixins';
@use './variables';
@use './global';

.footer {
    background-color: variables.$color-bandsite-black;
    padding-left: 1rem;

    @include mixins.desktop {
        padding: 0 5rem 0 5rem;
    }

    &__title {
        margin: 0;
        color: variables.$color-white;

        @include mixins.tablet {
            padding-left: 2rem;
            margin-right: 2rem;
        }
    }

    &__copy {
        @include mixins.tablet {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    }

    /* Social Media Icons */
    &__icon {
        padding-right: 2rem;

        @include mixins.tablet {
            padding-top: 1rem;
        }
    }

    /* Div containing Title and Socials icons to center align */
    &__socials-container {
        @include mixins.tablet {
            display: flex;
            align-items: center;
        }
    }

    /* Div containing Title and Socials + BANDSITE logo to center align and space between */
    &__social-logo-container {
        @include mixins.tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    /* Hides Tablet/Desktop BANDSITE logo from mobile view */
    &__logo-link {
        display: none;

        /* Makes Tablet/Desktop BANDSITE logo visible */
        @include mixins.tablet {
            display: block;
        }
    }

    /* BANDSITE logo for mobile */
    &__mobile-logo-image {
        margin-top: 4rem;

        /* Hides Mobile BANDSITE logo from Tablet/Desktop view */
        @include mixins.tablet {
            display: none;
        }
    }

    /* BANDSITE logo for Tablet/Desktop */
    &__logo-image {
        padding-top: 1rem;
        padding-right: 3rem;
    }

    /* Holds footer contact cards and styling */
    &__card-container {
        @include mixins.tablet{
            display: flex;
            justify-content: space-around;
        }

        @include mixins.desktop { 
            justify-content: flex-start;
            column-gap: 3rem;
            padding-left: 2rem;
        }
    }

    &__person {
        color: variables.$color-white;
        margin-top: 1rem;
        margin-bottom: 0;

        @include mixins.tablet {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    }

    &__person-role {
        color: variables.$color-white;
        margin: 0;

        @include mixins.tablet {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    }

    &__contact-info-heading {
        margin-bottom: 0;
    }

    &__contact-info-region {
        margin-top: 0;
    }

    /* visually could not tell on the mockup if text after footer names/roles were white or secondary color, so applied secondary */
    &__contact-info {
        color: variables.$color-silver;

        @include mixins.tablet {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 400;
        }
    }

    &__copyright {
        margin: 0;
        padding: 1rem 0;
        color: variables.$color-silver;

        @include mixins.tablet {
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: 400;
            padding: 3rem 0 3rem 2rem;
        }
    }
}