@use './mixins';
@use './variables';
@use './global';

.gallery {

    background-color: variables.$color-alabaster;
    padding: 1rem 1rem;

    &__title {
        margin: 0;
    }

    &__item {
      height: 12rem; 
      padding-top: 1rem;
      width: 100%;
      object-position: 50% 50%;
    }
}