@use './mixins';
@use './variables';
@use './global';

.gallery {

    &__item {
      height: 13rem; 
    }

    &__one {
        background: url('../../assets/Images/Photo-gallery-1.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__two {
        background: url('../../assets/Images/Photo-gallery-2.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__three {
        background: url('../../assets/Images/Photo-gallery-3.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__four {
        background: url('../../assets/Images/Photo-gallery-4.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__five {
        background: url('../../assets/Images/Photo-gallery-5.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__six {
        background: url('../../assets/Images/Photo-gallery-6.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__seven {
        background: url('../../assets/Images/Photo-gallery-7.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__eight {
        background: url('../../assets/Images/Photo-gallery-8.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }

    &__nine {
        background: url('../../assets/Images/Photo-gallery-9.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }


}