@use './mixins';
@use './variables';
@use './global';

.header {
    background-color: variables.$color-bandsite-black;

    @include mixins.tablet {
        display: flex;
        align-items: center;
    }

    @include mixins.desktop {
        padding-top: 1rem;
    }

    /* This holds the BANDSITE logo */
    &__logo-container {
        display: flex;
        justify-content: center;
        padding: 1rem 0;

        @include mixins.tablet {
            padding-left: 2rem;
        }

        @include mixins.desktop {
            padding-left: 8rem;
            margin-bottom: .5rem;
        }

        }
    
    /* UL holding nav links with reset list formatting */
    &__navigation-list {
        @include mixins.reset-list;
        display: flex;
        justify-content: space-around;

        @include mixins.tablet {
            padding-left: 4rem;
            padding-bottom: 0;
        }
    }

    /* Sets Biography and Shows to 50% of screen on mobile */
    &__navigation-list-item {
        width: 50%;
        
       
    }

    /* Styling of Biography and Shows link */
    &__navigation-link {
        display: block;
        text-decoration: none;
        color: variables.$color-mercury;
        text-align: center;
        padding-bottom: 1rem;
       
        &--active {
            color: variables.$color-white;
            border-bottom: .25rem solid variables.$color-white;
            font-weight: 700;
        }

        &--hover:hover {
            color: variables.$color-white;
            border-bottom: .25rem solid variables.$color-white;
        }
     
        @include mixins.tablet {
            margin-right: 4rem;
            margin-top: 2rem;
            padding-right: 1rem;
            padding-bottom: 1.5em;
            @include mixins.body-text;
            
        }

        @include mixins.desktop {
            height: 2rem;
            @include mixins.body-text;
        }
    }

    &__image {
        @include mixins.tablet {
            padding-top: .5rem;
        }
        @include mixins.desktop {
            
        }
    }
}