@use './mixins';
@use './variables';
@use './global';

.hero {
    display: flex;
    align-items: center;
   background: url('../../assets/Images/hero-bio.jpg') no-repeat center;
   background-size: cover;
   height: 12rem; 

   @include mixins.tablet {
       height: 32rem;
   }

   @include mixins.desktop {
       height: 40rem;
       background-size: cover;
   }

   &__title {
       color: white;
       padding-left: 1rem;

       @include mixins.tablet {
           font-size: 3.75rem;
           padding-left: 2rem;
       }

       @include mixins.desktop {
           padding-left: 6rem;
       }
   }
}