@use './mixins';
@use './variables';
@use './global';

/* Hero background image and sizing here */
.hero {
    display: flex;
    align-items: center;
   background: url('../assets/Images/hero-bio.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 25vh;
   box-shadow: inset 0 0 0 1000px rgba(50,50,50,.5);

   @include mixins.tablet {
       height: 50vh;
   }

   @include mixins.desktop {
       height: 75vh;
       background-size: cover;
   }

   /* The Bees Knees text */
   &__title {
       color: variables.$color-white;
       padding-left: 1rem;
       @include mixins.mobile-header-text;

       @include mixins.tablet {
           @include mixins.page-header-text;
           padding-left: 4rem;
       }

       @include mixins.desktop {
           padding-left: 10rem;
       }
   }
}