@use './mixins';
@use './variables';
@use './global';

/* Hero background image and sizing here */
.hero {
    display: flex;
    align-items: center;
   background: url('../assets/Images/hero-bio.jpg') no-repeat center;
   background-size: cover;
   width: 100%;
   min-height: 13rem; 
   max-height: auto;
   box-shadow: inset 0 0 0 1000px rgba(50,50,50,.5);

   @include mixins.tablet {
       height: 25rem;
   }

   @include mixins.desktop {
       height: 40rem;
       background-size: cover;
   }

   &__title {
       color: white;
       padding-left: 1rem;
       font-size: 1.5rem;
       line-height: 2rem;
       font-weight: 700;

       @include mixins.tablet {
           font-size: 3.75rem;
           padding-left: 2rem;
       }

       @include mixins.desktop {
           padding-left: 6rem;
       }
   }
}