@use './variables';
@use './typography' as *;

@mixin tablet {
    @media (min-width: variables.$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$breakpoint-desktop) {
        @content;
    }
}

/* Header Navigation reset list */
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Mobile Header Padding */
@mixin mobile-header-padding {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

/* Tablet and Desktop Header Padding */
@mixin header-padding {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
}


/* Mobile Form Field Styling */
@mixin mobile-form-field {
    min-height: 2.25rem;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid variables.$color-mercury;
    padding: .75rem;
}

/* Tablet/Desktop Form Field Styling */
@mixin form-field {
    min-height: 3rem;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid variables.$color-mercury;
    padding: 1rem;
}

/* Mobile Avatar for comments */
@mixin mobile-avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
}

/* Tablet/Desktop for comments */
@mixin avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}