@use './variables';
@use './typography' as *;

@mixin tablet {
    @media (min-width: variables.$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: variables.$breakpoint-desktop) {
        @content;
    }
}

/* Header Navigation reset list */
@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Mobile Header Padding */
@mixin mobile-header-padding {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

/* Tablet and Desktop Header Padding */
@mixin header-padding {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
}


/* Form Field Styling */
@mixin mobile-form-field {
    min-height: 2.25rem;
    width: 100%;
    border-radius: .25rem;
    border: 1px solid variables.$color-mercury;
    padding: .75rem;
}




/* Mobile Text Styles */
@mixin mobile-header-text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin mobile-subheader-text {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 600;
}

@mixin mobile-body-footer-text {
    font-size: .8125rem;
    line-height: 1.125rem;
    font-weight: 400;
}

@mixin mobile-label-button-text {
    font-size: .625rem;
    line-height: 1.25rem;
    font-weight: 700;
}

/* Tablet and Desktop Text Styles */
@mixin page-header-text {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
}

@mixin section-header-text {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}

@mixin subheader-text {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
}

@mixin body-text {
    font-size: 14px;
    line-height: 1.375rem;
    font-weight: 400;
}

@mixin footer-text {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}

@mixin lables-button-text {
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: 700;
}