/* Media Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

/* Colors and Backgrounds */
$color-bandsite-black: #323232;
$color-silver: #AFAFAF;
$color-white: #FFFFFF;
$color-bandsite-darkblack: #000000;
$color-mercury: #E1E1E1;
$color-alabaster: #FAFAFA;