/* Media Breakpoints */
/* Colors and Backgrounds */
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Header Navigation reset list */
/* Mobile Header Padding */
/* Tablet and Desktop Header Padding */
/* Mobile Form Field Styling */
/* Tablet/Desktop Form Field Styling */
/* Mobile Avatar for comments */
/* Tablet/Desktop for comments */
body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.header {
  background-color: #323232;
  /* This holds the BANDSITE logo */
  /* UL holding nav links with reset list formatting */
  /* Sets Biography and Shows to 50% of screen on mobile */
  /* Styling of Biography and Shows link */
}
@media (min-width: 48rem) {
  .header {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 80rem) {
  .header {
    padding-top: 1rem;
  }
}
.header__logo-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
@media (min-width: 48rem) {
  .header__logo-container {
    padding-left: 2rem;
  }
}
@media (min-width: 80rem) {
  .header__logo-container {
    padding-left: 8rem;
    margin-bottom: 0.5rem;
  }
}
.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 48rem) {
  .header__navigation-list {
    padding-left: 4rem;
    padding-bottom: 0;
  }
}
.header__navigation-list-item {
  width: 50%;
}
.header__navigation-link {
  display: block;
  text-decoration: none;
  color: #E1E1E1;
  text-align: center;
  padding-bottom: 1rem;
}
.header__navigation-link--active {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  font-weight: 700;
}
.header__navigation-link:hover {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
}
@media (min-width: 48rem) {
  .header__navigation-link {
    margin-right: 4rem;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 1.5em;
  }
}
@media (min-width: 80rem) {
  .header__navigation-link {
    height: 2rem;
  }
}
@media (min-width: 48rem) {
  .header__logo-image {
    padding-top: 0.5rem;
  }
}

.footer {
  background-color: #323232;
  padding-left: 1rem;
  /* Social Media Icons */
  /* Div containing Title and Socials icons to center align */
  /* Div containing Title and Socials + BANDSITE logo to center align and space between */
  /* Hides Tablet/Desktop BANDSITE logo from mobile view */
  /* BANDSITE logo for mobile */
  /* BANDSITE logo for Tablet/Desktop */
  /* Holds footer contact cards and styling */
  /* visually could not tell on the mockup if text after footer names/roles were white or secondary color, so applied secondary */
}
@media (min-width: 80rem) {
  .footer {
    padding: 0 5rem 0 5rem;
  }
}
.footer__title {
  margin: 0;
  color: #FFFFFF;
}
@media (min-width: 48rem) {
  .footer__title {
    padding-left: 2rem;
    margin-right: 2rem;
  }
}
@media (min-width: 48rem) {
  .footer__copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__icon {
  padding-right: 2rem;
}
@media (min-width: 48rem) {
  .footer__icon {
    padding-top: 1rem;
  }
}
@media (min-width: 48rem) {
  .footer__socials-container {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 48rem) {
  .footer__social-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__logo-link {
  display: none;
  /* Makes Tablet/Desktop BANDSITE logo visible */
}
@media (min-width: 48rem) {
  .footer__logo-link {
    display: block;
  }
}
.footer__mobile-logo-image {
  margin-top: 4rem;
  /* Hides Mobile BANDSITE logo from Tablet/Desktop view */
}
@media (min-width: 48rem) {
  .footer__mobile-logo-image {
    display: none;
  }
}
.footer__logo-image {
  padding-top: 1rem;
  padding-right: 3rem;
}
@media (min-width: 48rem) {
  .footer__card-container {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 80rem) {
  .footer__card-container {
    justify-content: flex-start;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding-left: 2rem;
  }
}
.footer__person {
  color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .footer__person {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__person-role {
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 48rem) {
  .footer__person-role {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__contact-info-heading {
  margin-bottom: 0;
}
.footer__contact-info-region {
  margin-top: 0;
}
.footer__contact-info {
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .footer__contact-info {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__copyright {
  margin: 0;
  padding: 1rem 0;
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 3rem 0 3rem 2rem;
  }
}

/* Utilities */
/* Page Components */
/* Hero Section */
/* Hero background image and sizing here */
/* Hero background image and sizing here */
.hero {
  display: flex;
  align-items: center;
  background: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.5);
  /* The Bees Knees text */
}
@media (min-width: 48rem) {
  .hero {
    height: 50vh;
  }
}
@media (min-width: 80rem) {
  .hero {
    height: 75vh;
  }
}
.hero__title {
  color: #FFFFFF;
  padding-left: 1rem;
}
@media (min-width: 48rem) {
  .hero__title {
    padding-left: 4rem;
  }
}
@media (min-width: 80rem) {
  .hero__title {
    padding-left: 10rem;
  }
}

/* About Section */
.about {
  padding: 0 1rem 1rem 1rem;
  /* About the Musicians */
  /* Holds all elements under section title */
  /* Quote beneath section picture */
  /* Attributing quote from Bryan Teddy */
  /* Puts body text side by side */
  /* Adds padding between side by side text */
}
@media (min-width: 48rem) {
  .about {
    padding-bottom: 2.25rem;
  }
}
.about__title {
  margin: 0;
}
@media (min-width: 48rem) {
  .about__title {
    padding-left: 2rem;
  }
}
@media (min-width: 80rem) {
  .about__title {
    padding-left: 6rem;
  }
}
@media (min-width: 48rem) {
  .about__container {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
  }
}
@media (min-width: 80rem) {
  .about__container {
    margin: 0 11rem;
  }
}
.about__picture {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  .about__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 2rem;
  }
}
@media (min-width: 80rem) {
  .about__subheader {
    width: 45rem;
  }
}
@media (min-width: 48rem) {
  .about__subheader-attribution {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-top: -1rem;
  }
}
@media (min-width: 48rem) {
  .about__body-text-container {
    display: flex;
  }
}
@media (min-width: 48rem) {
  .about__body-header {
    margin-bottom: 0;
  }
}
.about__body-text {
  margin: 0;
  padding-top: 1rem;
}
@media (min-width: 48rem) {
  .about__body-text-left {
    padding-right: 1rem;
  }
}

/* Gallery Section */
.gallery {
  background-color: #FAFAFA;
  padding-left: 1rem;
  /* Changes gallery images to flex wrap and center, gap for layout grid */
}
@media (min-width: 48rem) {
  .gallery {
    padding-bottom: 2.25rem;
  }
}
@media (min-width: 80rem) {
  .gallery {
    padding: 0 4rem 2.25rem 5rem;
  }
}
.gallery__title {
  margin: 0;
}
@media (min-width: 48rem) {
  .gallery__title {
    padding-left: 2rem;
  }
}
@media (min-width: 48rem) {
  .gallery__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.gallery__item {
  padding-bottom: 1rem;
  width: 100%;
}
@media (min-width: 48rem) {
  .gallery__item {
    width: 30%;
    padding-bottom: 0;
    margin: 0 1rem 1rem 0;
  }
}

/* Comments Section */
.comments {
  padding: 0 1rem;
  margin-bottom: 1rem;
  /* Holds the entire form, display flex to bring avatar image for text div into alignment */
  /* Adds margin for space from avatar, set div width to 75% of page */
  /* Styling for the form inputs */
}
@media (min-width: 48rem) {
  .comments {
    padding: 0 3rem;
    margin-bottom: 2rem;
  }
}
@media (min-width: 80rem) {
  .comments {
    padding: 0 6rem;
    margin-bottom: 3rem;
  }
}
.comments__title {
  margin: 0;
}
.comments__form-container {
  display: flex;
}
@media (min-width: 48rem) {
  .comments__form-container {
    padding: 0 2rem;
  }
}
@media (min-width: 80rem) {
  .comments__form-container {
    padding: 0 10rem;
  }
}
.comments__form-text-container {
  margin-left: 1rem;
  width: 75%;
}
@media (min-width: 48rem) {
  .comments__form-text-container {
    display: flex;
    flex-direction: column;
  }
}
.comments__form-avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin-top: 2rem;
}
@media (min-width: 48rem) {
  .comments__form-avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}
.comments__form-field {
  min-height: 2.25rem;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #E1E1E1;
  padding: 0.75rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  background-color: #FAFAFA;
}
.comments__form-field:focus {
  outline: none !important;
  border-color: #323232;
}
.comments__form-label {
  color: #AFAFAF;
}
.comments__form-button {
  margin-bottom: 1rem;
  border: none;
  height: 2.5rem;
  width: 108%;
  border-radius: 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
.comments__form-button:hover {
  background-color: #000000;
}
@media (min-width: 48rem) {
  .comments__form-button {
    width: 10rem;
    padding: 0 2rem;
    align-self: flex-end;
    margin-left: 2rem;
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}

.comment {
  display: flex;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
}
@media (min-width: 48rem) {
  .comment {
    margin: 0 2rem;
  }
}
@media (min-width: 80rem) {
  .comment {
    margin: 0 10rem;
  }
}
.comment__text-container {
  padding: 0 1rem;
  width: 90%;
}
.comment__name-date-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.comment__name {
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .comment__name {
    margin-top: 2rem;
  }
}
.comment__date {
  color: #AFAFAF;
}
.comment__text {
  margin-bottom: 2rem;
}
.comment__avatar {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin-top: 2rem;
  background-color: #E1E1E1;
}
@media (min-width: 48rem) {
  .comment__avatar {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }
}/*# sourceMappingURL=bio.css.map */