/* Media Breakpoints */
/* Colors and Backgrounds */
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Header Navigation reset list */
/* Mobile Header Padding */
/* Tablet and Desktop Header Padding */
/* Mobile Text Styles */
/* Tablet and Desktop Text Styles */
body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

.header {
  background-color: #323232;
  /* This holds the BANDSITE logo */
  /* UL holding nav links with reset list formatting */
  /* Sets Biography and Shows to 50% of screen on mobile */
  /* Styling of Biography and Shows link */
}
@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1280px) {
  .header {
    padding-top: 1rem;
  }
}
.header__logo-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  .header__logo-container {
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .header__logo-container {
    padding-left: 8rem;
    margin-bottom: 0.5rem;
  }
}
.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .header__navigation-list {
    padding-left: 4rem;
    padding-bottom: 0;
  }
}
.header__navigation-list-item {
  width: 50%;
}
.header__navigation-link {
  display: block;
  text-decoration: none;
  color: #E1E1E1;
  text-align: center;
  padding-bottom: 1rem;
}
.header__navigation-link--active {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  font-weight: 700;
}
.header__navigation-link--hover:hover {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
}
@media (min-width: 768px) {
  .header__navigation-link {
    margin-right: 4rem;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 1.5em;
    font-size: 14px;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media (min-width: 1280px) {
  .header__navigation-link {
    height: 2rem;
    font-size: 14px;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .header__image {
    padding-top: 0.5rem;
  }
}
/* Hero background image and sizing here */
.hero {
  display: flex;
  align-items: center;
  background: url("../assets/Images/hero-bio.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 25vh;
  box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.5);
  /* The Bees Knees text */
}
@media (min-width: 768px) {
  .hero {
    height: 50vh;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 75vh;
    background-size: cover;
  }
}
.hero__title {
  color: #FFFFFF;
  padding-left: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .hero__title {
    padding-left: 10rem;
  }
}

.about {
  padding: 0 1rem;
  /* About the Musicians */
  /* Holds all elements under section title */
  /* Quote beneath section picture */
  /* Attributing quote from Bryan Teddy */
  /* The Bees Knees body text */
  /* Adds padding between side by side text */
}
@media (min-width: 768px) {
  .about {
    padding-bottom: 1rem;
  }
}
.about__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  margin: 0;
}
@media (min-width: 768px) {
  .about__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    padding-left: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__title {
    padding-left: 6rem;
  }
}
@media (min-width: 768px) {
  .about__container {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
  }
}
@media (min-width: 1280px) {
  .about__container {
    margin: 0 11rem;
  }
}
.about__picture {
  width: 100%;
  height: 14rem;
}
@media (min-width: 768px) {
  .about__picture {
    height: 20rem;
  }
}
@media (min-width: 1280px) {
  .about__picture {
    height: 30rem;
  }
}
.about__subheader {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-top: 2rem;
  }
}
@media (min-width: 1280px) {
  .about__subheader {
    width: 45rem;
  }
}
@media (min-width: 768px) {
  .about__subheader-attribution {
    font-size: 1rem;
    line-height: 1.375rem;
    margin-top: -1rem;
  }
}
.about__body-text-container {
  /* Puts body text side by side */
}
@media (min-width: 768px) {
  .about__body-text-container {
    display: flex;
  }
}
.about__body-header {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about__body-header {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    margin-bottom: 0;
  }
}
.about__body-text {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 768px) {
  .about__body-text {
    font-size: 14px;
    line-height: 1.375rem;
    font-weight: 400;
  }
}
@media (min-width: 768px) {
  .about__body-text-left {
    padding-right: 1rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1rem 1rem;
}
.gallery__title {
  margin-top: 0;
  margin-bottom: 1rem;
}
.gallery__item {
  height: 12rem;
}
.gallery__one {
  background: url("../../assets/Images/Photo-gallery-1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__two {
  background: url("../../assets/Images/Photo-gallery-2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__three {
  background: url("../../assets/Images/Photo-gallery-3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__four {
  background: url("../../assets/Images/Photo-gallery-4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__five {
  background: url("../../assets/Images/Photo-gallery-5.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__six {
  background: url("../../assets/Images/Photo-gallery-6.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__seven {
  background: url("../../assets/Images/Photo-gallery-7.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__eight {
  background: url("../../assets/Images/Photo-gallery-8.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.gallery__nine {
  background: url("../../assets/Images/Photo-gallery-9.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}/*# sourceMappingURL=bio.css.map */