/* Utilities */
@use './_partials/mixins';
@use './_partials/variables';
@use './_partials/typography' as *;
@use './_partials/global';

/* Page Components */
@use './_partials/header';
@use './_partials/hero-bio';
@use './_partials/about';
@use './_partials/gallery';
@use './_partials/footer';


.comments {
    padding: 0 1rem;

    &__title {
        @include mixins.mobile-header-padding;
        margin: 0;
    }

    /* Holds the entire form, display flex to bring avatar image for text div into alignment */
    &__form-container {
        display: flex;
    }

    /* Adds margin for space from avatar, set div width to 75% of page */
    &__form-text-container {
        margin-left: 1rem;
        width: 75%;
    }

    &__form-avatar {
        @include mixins.mobile-avatar;
        margin-top: 2rem;
    }

    /* Styling for the form inputs */
    &__form-field {
        @include mixins.mobile-form-field;
        margin-top: .25rem;
        margin-bottom: 1rem;
    }

    &__form-label {
        color: variables.$color-silver;
    }

    &__form-button {
        margin-bottom: 1rem;
        border: none;
        height: 2.5rem;
        width: 108%;
        border-radius: .25rem;
        background-color: variables.$color-bandsite-black;
        color: variables.$color-white;

        &:hover {
            background-color: variables.$color-bandsite-darkblack;
        }
    }

}