/* Media Breakpoints */
/* Colors and Backgrounds */
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Header Navigation reset list */
/* Mobile Header Padding */
/* Tablet and Desktop Header Padding */
/* Mobile Form Field Styling */
/* Tablet/Desktop Form Field Styling */
/* Mobile Avatar for comments */
/* Tablet/Desktop for comments */
body {
  margin: 0;
  font-family: "AvenirNext LT Pro";
  color: #323232;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media (min-width: 48rem) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}

h3 {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 600;
}
@media (min-width: 48rem) {
  h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media (min-width: 48rem) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.header {
  background-color: #323232;
  /* This holds the BANDSITE logo */
  /* UL holding nav links with reset list formatting */
  /* Sets Biography and Shows to 50% of screen on mobile */
  /* Styling of Biography and Shows link */
}
@media (min-width: 48rem) {
  .header {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 80rem) {
  .header {
    padding-top: 1rem;
  }
}
.header__logo-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
@media (min-width: 48rem) {
  .header__logo-container {
    padding-left: 2rem;
  }
}
@media (min-width: 80rem) {
  .header__logo-container {
    padding-left: 8rem;
    margin-bottom: 0.5rem;
  }
}
.header__navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 48rem) {
  .header__navigation-list {
    padding-left: 4rem;
    padding-bottom: 0;
  }
}
.header__navigation-list-item {
  width: 50%;
}
.header__navigation-link {
  display: block;
  text-decoration: none;
  color: #E1E1E1;
  text-align: center;
  padding-bottom: 1rem;
}
.header__navigation-link--active {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
  font-weight: 700;
}
.header__navigation-link:hover {
  color: #FFFFFF;
  border-bottom: 0.25rem solid #FFFFFF;
}
@media (min-width: 48rem) {
  .header__navigation-link {
    margin-right: 4rem;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 1.5em;
  }
}
@media (min-width: 80rem) {
  .header__navigation-link {
    height: 2rem;
  }
}
@media (min-width: 48rem) {
  .header__logo-image {
    padding-top: 0.5rem;
  }
}

.footer {
  background-color: #323232;
  padding-left: 1rem;
  /* Social Media Icons */
  /* Div containing Title and Socials icons to center align */
  /* Div containing Title and Socials + BANDSITE logo to center align and space between */
  /* Hides Tablet/Desktop BANDSITE logo from mobile view */
  /* BANDSITE logo for mobile */
  /* BANDSITE logo for Tablet/Desktop */
  /* Holds footer contact cards and styling */
  /* visually could not tell on the mockup if text after footer names/roles were white or secondary color, so applied secondary */
}
@media (min-width: 80rem) {
  .footer {
    padding: 0 5rem 0 5rem;
  }
}
.footer__title {
  margin: 0;
  color: #FFFFFF;
}
@media (min-width: 48rem) {
  .footer__title {
    padding-left: 2rem;
    margin-right: 2rem;
  }
}
@media (min-width: 48rem) {
  .footer__copy {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__icon {
  padding-right: 2rem;
}
@media (min-width: 48rem) {
  .footer__icon {
    padding-top: 1rem;
  }
}
@media (min-width: 48rem) {
  .footer__socials-container {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 48rem) {
  .footer__social-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.footer__logo-link {
  display: none;
  /* Makes Tablet/Desktop BANDSITE logo visible */
}
@media (min-width: 48rem) {
  .footer__logo-link {
    display: block;
  }
}
.footer__mobile-logo-image {
  margin-top: 4rem;
  /* Hides Mobile BANDSITE logo from Tablet/Desktop view */
}
@media (min-width: 48rem) {
  .footer__mobile-logo-image {
    display: none;
  }
}
.footer__logo-image {
  padding-top: 1rem;
  padding-right: 3rem;
}
@media (min-width: 48rem) {
  .footer__card-container {
    display: flex;
    justify-content: space-around;
  }
}
@media (min-width: 80rem) {
  .footer__card-container {
    justify-content: flex-start;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding-left: 2rem;
  }
}
.footer__person {
  color: #FFFFFF;
  margin-top: 1rem;
  margin-bottom: 0;
}
@media (min-width: 48rem) {
  .footer__person {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__person-role {
  color: #FFFFFF;
  margin: 0;
}
@media (min-width: 48rem) {
  .footer__person-role {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__contact-info-heading {
  margin-bottom: 0;
}
.footer__contact-info-region {
  margin-top: 0;
}
.footer__contact-info {
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .footer__contact-info {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}
.footer__copyright {
  margin: 0;
  padding: 1rem 0;
  color: #AFAFAF;
}
@media (min-width: 48rem) {
  .footer__copyright {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding: 3rem 0 3rem 2rem;
  }
}

/* Utilities */
/* Page Components */
/* Hero background image and sizing here */
.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../assets/Images/hero-shows.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 36vh;
  box-shadow: inset 0 0 0 1000px rgba(50, 50, 50, 0.5);
  /* Album Name */
  /* Song Title */
}
@media (min-width: 48rem) {
  .hero {
    height: 62vh;
  }
}
@media (min-width: 80rem) {
  .hero {
    height: 75vh;
    flex-direction: row;
    align-items: center;
  }
}
.hero__album {
  margin-top: 0;
  color: #FFFFFF;
  padding-top: 1.5rem;
  padding-left: 1rem;
}
@media (min-width: 48rem) {
  .hero__album {
    padding-left: 3rem;
    margin: 0;
  }
}
@media (min-width: 80rem) {
  .hero__album {
    padding-left: 10rem;
  }
}
.hero__title {
  color: #FFFFFF;
  padding-left: 1rem;
  width: 15rem;
}
@media (min-width: 48rem) {
  .hero__title {
    padding-left: 3rem;
    margin: 0;
    width: 35rem;
  }
}
@media (min-width: 80rem) {
  .hero__title {
    padding-left: 10rem;
    padding-bottom: 2rem;
    width: 32rem;
  }
}
.hero__soundcloud {
  width: 95%;
  margin: 0 auto;
  height: 5rem;
}
@media (min-width: 48rem) {
  .hero__soundcloud {
    width: 50%;
    margin: 2rem 0 0 3rem;
    height: 8rem;
    padding-top: 3rem;
  }
}
@media (min-width: 80rem) {
  .hero__soundcloud {
    width: 35%;
  }
}

/* Shows Section */
.shows {
  padding-bottom: 1rem;
  /* Hides mobile list of shows from tablet/desktop view */
  /* Hides tablet/desktop shows list from mobile */
  /* shows card for tablet/desktop */
}
@media (min-width: 48rem) {
  .shows {
    padding-bottom: 3rem;
  }
}
.shows__header {
  margin: 0;
  padding: 1.5rem 0 0 1rem;
}
@media (min-width: 48rem) {
  .shows__header {
    padding: 3rem 0 2rem 3rem;
  }
}
@media (min-width: 48rem) {
  .shows__mobile-list {
    display: none;
  }
}
.shows__list {
  display: none;
}
@media (min-width: 48rem) {
  .shows__list {
    display: block;
  }
}
@media (min-width: 80rem) {
  .shows__list {
    padding-left: 15rem;
    padding-right: 5rem;
  }
}
.shows__mobile-card {
  padding: 1rem;
  border-bottom: 1px solid #E1E1E1;
  /* LVHA order hover has to be before active */
  /* LVHA order active has to be after hover */
}
.shows__mobile-card:hover {
  background-color: #FAFAFA;
}
.shows__mobile-card:active {
  background-color: #E1E1E1;
}
.shows__card {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1.125rem;
  margin: 0 1rem;
  border-bottom: 1px solid #E1E1E1;
  /* LVHA order hover has to be before active */
  /* LVHA order active has to be after hover */
}
.shows__card:hover {
  background-color: #FAFAFA;
}
.shows__card:active {
  background-color: #E1E1E1;
}
.shows__logistics-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding: 1.5rem 0 0 1.125rem;
  margin-left: 2rem;
}
.shows__logistics {
  color: #AFAFAF;
  font-weight: 600;
}
.shows__date {
  font-weight: 700;
}
.shows__button {
  border: none;
  height: 2.5rem;
  width: 100%;
  border-radius: 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
}
@media (min-width: 48rem) {
  .shows__button {
    width: 8rem;
  }
}/*# sourceMappingURL=shows.css.map */